@import '../../global.scss';
.landing {
  height: 120vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  border-bottom: 10px solid rgb(34,34,34);
  background-image: url("../../assets/background.png");
  background-repeat: no-repeat;
  @include mobile{
    height: 100vh;
  }
}
