@import '../../global.scss';
.enjoy {
  height: 70vh;
  background-color: black;
  display: flex;
  color: white;
  border-bottom: 10px solid rgb(34,34,34);
  @include mobile{
      flex-direction: column;
      height: 80vh;
  }
  .left, .right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left {
    > div{
        margin-left: 20px;
    }
    p {
      margin: 0;
      max-width: 500px;
      font-size: 45px;
      @include mobile {
        font-size: 30px;
        text-align: center;
      }
    }
    h3{
        font-weight: 500;
        font-size: 27px;
        @include mobile{
            font-size: 20px;
            text-align: center;
        }
    }
  }
  .right {
    flex: 1;
    .boxTv{
        position: absolute;
        width: 500px;
        @include mobile{
            width: 100vw;
        }
    }
    .scene{
        width: 350px;
        margin-bottom: 20px;
        margin-right: 30px;
        
        
    }

    
    
  }
}
