@import '../../global.scss';
.navBar{
    height: 107px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom,#000 25%,rgba(0,0,0,0));
    background-color: rgba(0, 0, 0, 0.1);
    img{
        height: 70px;
        margin-left: 10px;
        @include mobile{
            height: 55px;
        }
    }
    >div{
        display: flex;
        align-items: center;
        margin-right:10px ;
        
        .signIn{
            width: 70px;
            height: 35px;
            background-color: #E50914;
            border: none;
            outline: none;
            color: white;
            border-radius: 3px;
            cursor: pointer;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            
            @include mobile{
                width: 60px;
                height: 30px;
            }
            
        }
    }
}