@import '../../global.scss';
.footer{
  background-color: black;
  display: flex;
  flex-direction: column;
  color: rgb(117,117,117);
  border-bottom: 10px solid rgb(34,34,34);
  font-family: sans-serif;
  padding: 100px; 
  @include mobile{
    padding: 50px 0 0px 20px;
    
  }
  h5{
    margin: 0 45px;
    font-size: 15px;
    font-family: sans-serif;
    span{
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
    @include mobile{
      margin: 0 10px;
    }
  }
  @include mobile{
      flex-direction: column;
      height: 80vh;
      
  }
  .ending{
    margin-left: 45px;
    @include mobile{
      margin: 0 10px;
    }
  }
}
.lists{
  display: flex;
  flex-wrap: wrap;
}
.list{
  width:170px ;
  margin: 10px 45px;
  padding: 0;
  @include mobile{
    width: 130px;
    margin: 5px 10px;
  }
  li{
    font-size: 14px;
    list-style-type: none;
    margin: 20px 0;
    cursor: pointer;
    &:hover{

      text-decoration: underline;
    }
  }
}